<p>タイトル：</p>
<div><%= @memo_title %></div>
<p>内容：</p>
<div><%= @memo_content %></div>
<form action = "/memo/<%= @memo_id %>/edit" method = "get" >
  <button type="submit">編集</button>
</form>
<form action = "/memo/<%= @memo_id %>" method = "post" >
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">削除</button>
</form>
<form action = "/" method = "get" >
  <button type="submit">一覧</button>
</form>

