<p>ここは一覧画面です</p>
<form action = "/new" method = "get" >
  <button type="submit">作成</button>
</form>
<div><% @memos.each do |memo| %>
  <ul>
    <li><a href="../memo/<%= memo['id'] %>"><%= memo['name'] %></a></li>
  </ul>
  <% end %>
</div>
