<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link href="/css/bulma.min.css" rel="stylesheet">
  </head>
  <body>
  <div>
    <section class="hero is-info">
      <div class="hero-body">
        <p class="title">sinatra memo</p>
      </div>
    </section>
    <%= yield %>
  </div>
  </body>
</html>
