<section class="section">
  <div class="content">
    <form action="/new" method="post">
      <div class="field">
        <label class="label" for="name">名前:</label>
        <div class="control">
          <input type="text" id="name" name="name" value="<%= @memo_name %>">
        </div>
      </div>
      <div class="field">
        <label class="label" for="content">内容:</label>
        <div class="control">
          <textarea class="textarea" id="content" name="content" ><%= @memo_content %></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-success" type="submit">登録</button>
        </div>
      </div>
    </form>
  </div>
</section>
